body {
    min-height: 100vh;
    margin: 0;
}


#main {
    height: 100;
    padding: 10px;
    text-align: center;
    color: rgb(180, 23, 23);
    background-color: rgb(138, 9, 9);
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgb(36, 17, 17) ;
    margin: 0;
}

.additional {
    background-color: black;
    height: 500px;
    width: 17px;
}

img {
    height: 500px;
    width: auto;
}

.tummy {
    display: flex;
    flex-direction: row;
   background-color: rgb(126 145 103);

}

.des-ing {
    padding-left: 10px;
}


.titles {
    color: aquamarine;
    font-size: 23px;
    font-weight: bold;
}

.table {
    font-size: 18px;
    font-style: italic;

}

.table.ingredients {
    background-color: aliceblue;

}

.table.steps {
    background-color: rgb(157, 202, 241);
}