body {
    min-height: 100vh;
    margin: 0;
}


#main {
    height: 100;
    padding: 10px;
    text-align: center;
    color: rgb(180, 23, 23);
    background-color: rgb(138, 9, 9);
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgb(36, 17, 17) ;
    margin: 0;
}

.additional {
    background-color: black;
    height: 730px;
    width: 17px;
}

img {
    height: 730px;
    width: auto;
}

.tummy {
    display: flex;
    flex-direction: row;
    background-color: rgb(126 145 103);

}

.john {
    padding-top: 10px;
    font-size: 33px;
}

.link {
    padding-top: 8px;
    text-shadow: 1px 1px rgb(138, 9, 9);
}

a {
    font-size: 35px;
    font-size: large;
    color: rgb(36, 17, 17);
    text-decoration: none;
}


.des-text {
    background-color: rgba(185, 45, 45, 0.884);
    margin: 10px;
    margin-left: 0px;
}

p {
    border-style: solid;
    border-color: black;
    border: 10px;
    font-size: 20px;
    margin: 10px;
}

.des-ing {
    padding-left: 10px;
}


.titles {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(161, 152, 152);
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    margin-left: 0px;
}

.table {
    font-size: 18px;
    font-style: italic;
}

.table.ingredients {
    font-size: 20px;
    background-color: rgba(185, 45, 45, 0.884);
    margin: 10px;
    margin-left: 0px;

}

.steps {
   background-color: rgb(126 145 103);
   margin: 0px;
}

.title-steps {
    text-shadow: 1px 1px rgb(161, 152, 152);
    font-size: 28px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.table.steps {
    font-size: 20px;
    padding: 30px;
    background-color: rgb(113, 131, 92);
}