body {
    min-height: 100vh;
    border-style: dotted;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #5ca17d;
    border: 0;
    margin: 0;
}


.elements {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.click {
    display: flex;
    flex-direction: row;
}

img {
    height: 300px;
    width: 300px;
}

h1 {
    margin: 0;
    text-shadow: 3px 3px #4c8669;
    font-weight: bold;
    font-size: 80px;
}

p {
    align-self: center;
    margin: 0;
    font-size: 50px;
}

a {
    color: #294432;
    text-shadow: 1px 1px #1a804b;
    font-size: 30px;
    font-style: bold;
    font-style: italic;
    text-decoration: none;
}